rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Master safety net
    match /{document=**} {
      allow read, write: if false;
    }

    match /drugs/{drugId} {
      allow read, write: if true;
    }

    match /internal_ledgers/{ledgerId} {
      allow read, write: if true;
    }

    match /external_drugs/{externalId} {
      allow read, write: if true;
    }

    match /system_settings/{settingId} {
      allow read, write: if true;
    }

    match /patients/{patientId} {
      allow read, write: if true;
    }

    match /patient_pids/{patientId} {
      allow read, write: if true;
    }

    match /clinic_appointments/{appointmentId} {
      allow read, write: if true;
    }
  }
}
